# Authentik
AUTHENTIK_URL=http://authentik.dcu.aicareer.info
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=admin
AUTHENTIK_POSTGRES_PASSWORD={GENERATE-DB-PASSWORD}
AUTHENTIK_SECRET_KEY={GENERATE-64-HEX}

# GitLab
GITLAB_DOMAIN=gitlab.dcu.aicareer.info
GITLAB_URL=http://gitlab.dcu.aicareer.info
GITLAB_ROOT_PASSWORD={GENERATE-ROOT-PASSWORD}
GITLAB_OMNIAUTH_CLIENT_ID=gitlab-oidc
GITLAB_OMNIAUTH_CLIENT_SECRET={GENERATE-OIDC-SECRET}

# Outline
OUTLINE_URL=http://outline.dcu.aicareer.info
OUTLINE_POSTGRES_DB=outline
OUTLINE_POSTGRES_USER=admin
OUTLINE_POSTGRES_PASSWORD={GENERATE-DB-PASSWORD}
OUTLINE_SECRET_KEY={GENERATE-64-HEX}
OUTLINE_UTILS_SECRET={GENERATE-64-HEX}
OUTLINE_OIDC_CLIENT_ID=outline-oidc
OUTLINE_OIDC_CLIENT_SECRET={GENERATE-OIDC-SECRET}

# Kaneo
KANEO_URL=http://kaneo.dcu.aicareer.info
KANEO_API_URL=http://kaneo.dcu.aicareer.info/api
KANEO_POSTGRES_DB=kaneo
KANEO_POSTGRES_USER=admin
KANEO_POSTGRES_PASSWORD={GENERATE-DB-PASSWORD}
KANEO_AUTH_SECRET={GENERATE-64-HEX}
KANEO_OIDC_CLIENT_ID=kaneo-oidc
KANEO_OIDC_CLIENT_SECRET={GENERATE-OIDC-SECRET}

# Homarr
HOMARR_URL=http://homarr.dcu.aicareer.info
HOMARR_SECRET_ENCRYPTION_KEY={GENERATE-64-HEX}
HOMARR_OIDC_CLIENT_ID=homarr-oidc
HOMARR_OIDC_CLIENT_SECRET={GENERATE-OIDC-SECRET}

# Seafile
SEAFILE_DOMAIN=seafile.dcu.aicareer.info
SEAFILE_URL=http://seafile.dcu.aicareer.info
SEAFILE_ADMIN_EMAIL=admin@dcu.aicareer.info
SEAFILE_ADMIN_PASSWORD={GENERATE-ADMIN-PASSWORD}
SEAFILE_MYSQL_ROOT_PASSWORD={GENERATE-DB-PASSWORD}
SEAFILE_OIDC_CLIENT_ID=seafile-oidc
SEAFILE_OIDC_CLIENT_SECRET={GENERATE-OIDC-SECRET}

# Zerobyte
ZEROBYTE_URL=http://zerobyte.dcu.aicareer.info
ZEROBYTE_APP_SECRET={GENERATE-64-HEX}
