# Common
DOMAIN={YOUR-DOMAIN}
LETSENCRYPT_EMAIL={YOUR-LETSENCRYPT-EMAIL}
ADMIN_LOGIN={YOUR-ADMIN-LOGIN}
ADMIN_EMAIL={YOUR-ADMIN-EMAIL}
ADMIN_PASSWORD={YOUR-ADMIN-PASSWORD}
OIDC_SHARED_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Server sync settings for ssh.copy.sh / sshpass.copy.sh
SERVER_HOST={YOUR-SERVER-SSH-HOST}
SERVER_USER={YOUR-SERVER-SSH-USER}
SERVER_PASSWORD={YOUR-SERVER-SSH-PASSWORD}
REMOTE_DIR={YOUR-REMOTE-DIRECTORY}

# Traefik
TRAEFIK_DOMAIN=traefik.{YOUR-DOMAIN}
TRAEFIK_URL=https://traefik.{YOUR-DOMAIN}
TRAEFIK_COOKIE_DOMAIN={YOUR-DOMAIN}
TRAEFIK_OIDC_CLIENT_ID=traefik-oidc
TRAEFIK_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}
TRAEFIK_OIDC_PROVIDER_URL=https://authentik.{YOUR-DOMAIN}/application/o/traefik/
TRAEFIK_OIDC_PLUGIN_SECRET={GENERATE-32-CHARS}

# Authentik
AUTHENTIK_DOMAIN=authentik.{YOUR-DOMAIN}
AUTHENTIK_URL=https://authentik.{YOUR-DOMAIN}
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER={YOUR-ADMIN-LOGIN}
AUTHENTIK_POSTGRES_PASSWORD={YOUR-ADMIN-PASSWORD}
AUTHENTIK_SECRET_KEY={GENERATE-64-HEX}

# GitLab
GITLAB_DOMAIN=gitlab.{YOUR-DOMAIN}
GITLAB_URL=https://gitlab.{YOUR-DOMAIN}
GITLAB_ROOT_PASSWORD={YOUR-ADMIN-PASSWORD}
GITLAB_OMNIAUTH_CLIENT_ID=gitlab-oidc
GITLAB_OMNIAUTH_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Outline
OUTLINE_DOMAIN=outline.{YOUR-DOMAIN}
OUTLINE_URL=https://outline.{YOUR-DOMAIN}
OUTLINE_POSTGRES_DB=outline
OUTLINE_POSTGRES_USER={YOUR-ADMIN-LOGIN}
OUTLINE_POSTGRES_PASSWORD={YOUR-ADMIN-PASSWORD}
OUTLINE_SECRET_KEY={GENERATE-64-HEX}
OUTLINE_UTILS_SECRET={GENERATE-64-HEX}
OUTLINE_OIDC_CLIENT_ID=outline-oidc
OUTLINE_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Kaneo
KANEO_DOMAIN=kaneo.{YOUR-DOMAIN}
KANEO_URL=https://kaneo.{YOUR-DOMAIN}
KANEO_API_URL=https://kaneo.{YOUR-DOMAIN}/api
KANEO_POSTGRES_DB=kaneo
KANEO_POSTGRES_USER={YOUR-ADMIN-LOGIN}
KANEO_POSTGRES_PASSWORD={YOUR-ADMIN-PASSWORD}
KANEO_AUTH_SECRET={GENERATE-64-HEX}
KANEO_OIDC_CLIENT_ID=kaneo-oidc
KANEO_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Homarr
HOMARR_DOMAIN={YOUR-DOMAIN}
HOMARR_URL=https://{YOUR-DOMAIN}
HOMARR_SECRET_ENCRYPTION_KEY={GENERATE-64-HEX}
HOMARR_OIDC_CLIENT_ID=homarr-oidc
HOMARR_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Seafile
SEAFILE_DOMAIN=seafile.{YOUR-DOMAIN}
SEAFILE_URL=https://seafile.{YOUR-DOMAIN}
SEAFILE_ADMIN_EMAIL={YOUR-ADMIN-EMAIL}
SEAFILE_ADMIN_PASSWORD={YOUR-ADMIN-PASSWORD}
SEAFILE_MYSQL_ROOT_PASSWORD={YOUR-ADMIN-PASSWORD}
SEAFILE_OIDC_CLIENT_ID=seafile-oidc
SEAFILE_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}

# Zerobyte
ZEROBYTE_DOMAIN=backup.{YOUR-DOMAIN}
ZEROBYTE_URL=https://backup.{YOUR-DOMAIN}
ZEROBYTE_APP_SECRET={GENERATE-64-HEX}
ZEROBYTE_OIDC_CLIENT_ID=zerobyte-oidc
ZEROBYTE_OIDC_CLIENT_SECRET={YOUR-OIDC-CLIENT-SECRET}
